div{
	width: 300px;
	height: 300px;
	border: 100px solid black;
	border-top-color: red;
	border-right-color: yellow;
	border-left-color: blue;
	border-bottom-color: green;
}

/*border画三角形*/
.box{
	width: 0px;
	height: 0px;
	border:100px solid black;
	border-top-color:transparent;
	border-right-color: transparent;
	border-left-color:transparent;
	border-bottom-color: orange;   
}
